<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel="stylesheet" href="/css/about.css" type="text/css">


    </head>

    <body>

        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/github">Github</a></li>
                </ul>
            </nav>
        </header>

        <div class="about">
            
            <p>This is a sample Node.js application created for Cybrancee</p>
        
        </div>
            
    </body>

</html>